body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  
  .heart {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
  }
  
  .heart .material-icons {
    font-size: 50px;
    color: #ff0000;
  }
  
  .count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  